<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>EchelonConnect</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <script src="{% static 'js/script.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
      <nav>
            <div class="container">

                <h2 class="logo">EchelonConnect</h2>
                <div class="search-bar">
                    <form action="/search" method="POST">
                        {% csrf_token %}
                    <input type="text" name="username" placeholder="Search for User" style="border-radius: 16px;padding: 3px"/>
                    <button type="submit"><i class="uil uil-search" style="border-radius: 50%;"></i></button>
                    </form>
                </div>
                <div class="create">
                    <label class="btn btn-primary but">Create</label>
                    <div class="createForm">
                        <form action="upload" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p style="font-size:30px;"> Upload</p>
                            <div>
                                <input type="file" name="image_upload" accept="image/*, video/*" required>
                                <textarea class="button soft-warning small" name="caption" placeholder="Caption..." required></textarea>
                                <input type="text" name="tags" placeholder="Tags (comma-separated)" style="border-radius: 16px; padding: 3px">
                                <br>
                                <br>
                                <button class="btn" style="background: var(--color-primary);color:white;" type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
                    <div class="profile-pic">
                        <a href="{% url 'profile' pk=user.username %}"><img src="{{user_profile.profileimg.url}}" alt="pic 1" /></a>
                    </div>

                </div>
            </div>
      </nav>

      <main>
          <div class="container">
              <div class="left">
                  <a class="profile">
                      <div class="profile-pic">
                        <img src="{{user_profile.profileimg.url}}">
                      </div>
                      <div class="handle">
                          <h4>{{user_profile.user.username}}</h4>
<!--                          <p class="text-muted">@chirag</p>-->
                      </div>
                  </a>
                  <br>
                  <div class="sidebar">
                    <a class="menu-item active">
                      <span><i class="uil uil-home"></i></span> <h3>Home</h3>
                    </a>
                    <a class="menu-item" id="messages-notifications" href="#">
                        <i class="uil uil-envelope"><small class="notification-count">6</small></i></span><h3>Messages</h3>
                    </a>
<!--                    <a class="menu-item ">-->
<!--                      <span><i class="uil uil-bookmark"></i></span> <h3>Bookmarks</h3>-->
<!--                    </a>-->
                    <a class="menu-item " href="{% url 'profile' pk=user.username %}">
                      <span><i class="uil uil-user"></i></span> <h3>Profile</h3>
                    </a>
                    <a class="menu-item " href="/settings">
                      <span><i class="uil uil-setting"></i></span> <h3>Settings</h3>
                    </a>
                    <a class="menu-item " href="/logout">
                      <span><i class="uil uil-sign-out-alt"></i></span> <h3>Logout</h3>
                    </a>

<!--                    <label class="btn btn-primary" for="create-post">Create Post</label>-->
                </div>
              </div>
              


              <div class="middle">


                <form class="create-post" action="uploadtext" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-pic">
                        <img src="{{user_profile.profileimg.url}}" alt="">
                    </div>
                    <input type="text" name="upload_text" placeholder="What's on your mind {{user_profile.user.username}}?" id="create-post" required>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                  {% for post in posts reversed %}
                <div class="feeds">
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
<!--                                 <img src="{{ post.user.profile.profileimg.url }}" alt="{{ post.user.username }}" width="100" height="100">-->
                             </div>
                             <div class="info">
                                 <a href="/profile/{{post.user}}"><h3 style="color:black;">@{{post.user}}</h3></a>
                             </div>
<!--                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>-->
                         </div>
                        {% if post.image.url|slice:"-4:" == '.mp4' or post.image.url|slice:"-5:" == '.webm' %}
                         <div class="photo">
                             <video style="height: 250px; width: 300px;" controls>
                                 <source src="{{ post.image.url }}" type="video/mp4">
                             </video>
                         </div>
                        {% elif post.image.url|slice:"-4:" == '.jpg' or post.image.url|slice:"-5:" == '.jpeg' or post.image.url|slice:"-4:" == '.png' %}
                        <div class="photo">
                             <a href="{{post.image.url}}">
                                 <img src="{{post.image.url}}" alt="">
                             </a>
                         </div>
                        {% else %}
                        <div class="photo">
                             <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.text }}</h1>
                         </div>
                        {% endif %}

                         <div class="action-button">
                             <div class="interaction-button">
                                 <a href="/like-post?post_id={{post.id}}"><span style="color:black;"><i class="uil uil-thumbs-up"></i></span></a>
<!--                                 <span><i class="uil uil-comment"></i></span>-->
<!--                                 <span><i class="uil uil-share"></i></span>-->
                             </div>

                         </div>

                         <div class="liked-by">
                             <p>{% if post.no_of_likes == 0 %}
                                            <p>No Likes</p>
                                            {% elif post.no_of_likes == 1 %}
                                            <p>Liked by one person</p>
                                            {% else %}
                                            <p>Liked by {{post.no_of_likes}} people</p>
                                            {% endif %}
                             </p>
<!--                             ,<p>Liked by <b>Enrest Achiever</b>snd <b>220 others</b></p>-->
                         </div>

                         <div class="caption">
                             <p><b>{{post.user}}</b> {{post.caption}}
<!--                            <span class="hash-tag">#lifestyle</span>-->
                             </p>
                         </div>
                         <div class="comments text-muted">View all 130 comments</div>
                    </div>
                

                </div>
                  {% endfor %}
              </div>
              
              <div class="right">
                  <div class="messages">
                    <div class="heading">
                    </div>
                    <div class="message">
                    </div>

                </div>
                <div class="friend-requests">
                    <h4>Users You Can Follow</h4>
                    {% for suggestion in suggestions_username_profile_list %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="{{suggestion.profileimg.url}}">
                            </div>
                            <div>
                                <h5>{{suggestion.user}} </h5>
                                <p class="text-muted">{{suggestion.bio}}</p>
                                
                            </div>
                        </div>
                        <div class="action">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/{{suggestion.user}}"><button class="btn btn-primary">View User</button></a>
                        </div>
                    </div>
                    {% endfor %}
            
              </div> 


               
              </div>
          </div>
      </main>

        <script>
        $(document).ready(function(){
            $(".btn.btn-primary.but").click(function(e){
                e.stopPropagation(); // Prevent the click event from reaching the document
                $(".createForm").slideToggle("slow");
            });
            $(document).click(function(e){
                if(!$(e.target).closest('.create').length) {
                    $(".createForm").slideUp("slow");
                }
            });
        });





                        //sidebar
            const menuItems = document.querySelectorAll('.menu-item');
            const messagesNotification = document.querySelector('#messages-notifications');
            const messages = document.querySelector('.messages');
            const message = messages.querySelectorAll('.message');
            const messageSearch = document.querySelector('#message-search');

            //remove active class from all menu items
            const changeActiveItem = () => {
                menuItems.forEach(item => {
                    item.classList.remove('active');
                })
            }


            menuItems.forEach(item => {
                item.addEventListener('click', () => {
                    changeActiveItem();
                    item.classList.add('active');

                    if (item.id != 'notifications') {
                        document.querySelector('.notifications-popup').style.display = 'none';
                    } else {
                        document.querySelector('.notifications-popup').style.display = 'block';
                        document.querySelector('#notifications .notification-count').style.display='none';
                    }
                })
            })


            const searchMessage = () => {
                const val = messageSearch.value.toLowerCase();
                message.forEach(chat => {
                    let name=chat.querySelector('h5').textContent.toLowerCase();
                    if(name.indexOf(val) != -1){
                        chat.style.display = 'flex';
                    } else{
                        chat.style.display = 'none';
                    }
                })
            }

            messageSearch.addEventListener('keyup', searchMessage);


            messagesNotification.addEventListener('click', () => {
                messages.style.boxShadow = '0 0 1rem var(--color-primary)';
                messagesNotification.querySelector('.notification-count').style.display = 'none';
                setTimeout(() => {
                    messages.style.boxShadow = 'none';
                }, 2000);
            })


        </script>

  </body>
  
</html>
