<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="background-image: url('{% static 'images/bg.jpg' %}');">
<nav>
    <a href="/"><i class="fa-solid fa-house fa-2xl"></i></a>
</nav>
<div class="wrapper">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="profileImage">

                <label> Profile Image</label>

                <img width="100" height="100" src="{{user_profile.profileimg.url}}" />

                <input type="file" name="image" value="">

            </div>
            <div class="bio">

                <label for="about">Bio</label>

                <textarea id="about" name="bio" rows="3">{{user_profile.bio}}</textarea>

            </div>
            <div class="loc">

                <label> Location</label>

                <input type="text" name="location" value="{{user_profile.location}}" placeholder="">

            </div>
        </div>
        <div class="bttn">

            <a href="/"><button>Cancel</button></a>

            <button type="submit">Save</button>

        </div>
    </form>
    <h6><a href="password/">Change Username & Password </a></h6><br>
</div>
</body>
</html>